body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.intro {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #ff6347;
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.projects a {
  display: block;
  text-decoration: none;
  color: white;
  background: #007bff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  text-align: center;
}

.projects a:hover {
  background: #0056b3;
}

.impressum,
.impressum2 {
  display: block;
  text-decoration: none;
  color: white;
  background: green;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  text-align: center;
}

.impressum a:hover,
.impressum2 a:hover {
  background: #0056b3;
}

a {
  color: darkmagenta;
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.description {
  border: 4px solid aliceblue;
  margin: 30px 100px;
  padding: 30px;
  text-align: center;
}

.video-gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video {
  margin: 30px;
  width: 400px;
  height: auto;
}

.video .thumbnail {
  border: 5px solid #fff;
  width: 100%;
  height: auto;
}

nav {
  background-color: #FFF;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: darkmagenta;
  font-weight: bold;
}

nav a:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .video-gallery {
    flex-direction: column;
    align-items: center;
  }

  .video {
    width: 100%;
    margin: 20px 0;
  }
}
